button {
  appearance: none;
  background: transparent;
  border: 0;
}

.btn {
  align-items: center;
  background-image: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  margin: 0;
  min-height: $input-height;
  padding: 0 $gap-sm;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include font-bold;
  outline: none;
  border-radius: 3px;
}

.btn-lg {
  min-height: $input-height * 1.25;
  min-width: 8rem;
}

.btn-back {
  align-items: center;
  display: inline-flex;
  font-size: 0.8rem;
  margin-bottom: $gap;
  text-transform: uppercase;
  transition: all 0.15s;
  @include font-bold;
  svg {
    margin-right: $gap-xs;
    transition: all 0.15s;
  }
  &:hover,
  &:focus {
    svg {
      animation: bounce-left 0.5s forwards;
    }
  }
}
.btn-forward {
  align-items: center;
  display: inline-flex;
  font-size: 0.8rem;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  @include font-bold;
  svg {
    height: $gap-sm;
    margin-left: $gap-xs;
    width: $gap-sm;
  }
}
.btn-primary {
  background-color: #09F;
}

.skip-link {
  color: #7a7979;
  z-index: 100;
  border-bottom: 1px dotted #bcbcbc;
  &:focus {
    clip: initial;
    height: auto;
    width: auto;
    margin: 0;
    color: white;
  }
}

